.main-content {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 90vw;
    padding: 30px;
    color: white;
    font-family: Arial, sans-serif;
    margin: auto; 
}

.navigation-buttons {
    position: absolute;
    top: 70px;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nav-button {
    padding: 8px 16px;
    background-color: #2575fc;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.nav-button:hover {
    background-color: #1d63d2;
}

.nav-button:disabled {
    background-color: #a0c4ff;
    cursor: not-allowed;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.expense-box {
    flex: 1;
    border-radius: 10px;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.main-content h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.tabs {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
}

.tab-list {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tab-item {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.tab-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.tab-item.active {
    background-color: #2575fc;
    color: white;
    font-weight: bold;
}

.budget-and-expenses-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
}

.budget-and-expenses-details {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
}

.expenses-grid {
    margin-top: 20px;
}

.navigation-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}