<div class="main-content">
  <div class="navigation-buttons">
    @if (hasNextDay()) {
      <button 
        class="nav-button next-button" 
        (click)="goToNextDay()"
        aria-label="Go to Next Day"
        title="Go to Next Day"
      >
        Next
      </button>
    }

    @if (hasPreviousDay() && !isSummary) {
      <button 
        class="nav-button previous-button" 
        (click)="goToPreviousDay()"
        aria-label="Go to Previous Day"
        title="Go to Previous Day"
      >
        Previous
      </button>
    }
  </div>

  <div class="summary-tab-nav-button">
    @if (hasPreviousDay() && isSummary) {
      <button
        class="nav-button previous-button" 
        (click)="goToPreviousDay()"
        aria-label="Go to Previous Day"
        title="Go to Previous Day"
      >
        Previous
      </button>
    }
  </div>

  @if (!isSummary) {
    <h2>{{ selectedDay }}'s Expense List</h2>
  } @else {
    <h2>Expense List Summary</h2>
  }

  <div class="content-wrapper">
    <div class="expense-box">
      @if (!isSummary) {
        <app-day 
          [selectedDay]="selectedDay"
          (addExpenseEvent)="handleAddExpense($event)"
          (editExpenseEvent)="handleEditExpense($event)" 
          (deleteExpenseEvent)="handleDeleteExpense($event)"
          (dailyTotalUpdated)="handleExpensesAndBudgetTotalUpdated()"
        >
        </app-day>
      } @else {
        <app-summary></app-summary>
      }
    </div>

    <div class="tabs">
      <ul class="tab-list">
        @for(day of days; let i = $index; track i) {
          <li 
            class="tab-item" 
            [class.active]="day === selectedDay" 
            [routerLink]="['/expenses', day.toLowerCase()]"
            routerLinkActive="active"
          >
            {{ day }}
          </li>
        }

        <li 
          class="tab-item" 
          [class.active]="isSummaryTab()" 
          [routerLink]="['/expenses', 'summary']" 
          routerLinkActive="active"
        >
          Summary
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="budget-and-expenses-details-container">
  <p class="budget-and-expenses-details">Weekly Budget: {{ budget !== null ? '$'+ budget.toFixed(2) : 'N/A' }}</p>
  @if (isSummary) {
    <p class="budget-and-expenses-details">Weekly Savings: {{ remainingBudget !== null ? '$'+ remainingBudget.toFixed(2) : 'N/A' }}</p>

  } @else {
    <p class="budget-and-expenses-details">Remaining  Budget: {{ remainingBudget !== null ? '$'+ remainingBudget.toFixed(2) : 'N/A' }}</p>
  }
  @if (!isSummary) {
    <p class="budget-and-expenses-details">Total Expenses for {{ selectedDay }}: {{ totalExpenses > 0 ? '$' + totalExpenses.toFixed(2) : 'N/A' }}</p>
  }
  <p class="budget-and-expenses-details">Total Weekly Expenses: {{ totalWeeklyExpenses > 0 ? '$' + totalWeeklyExpenses.toFixed(2) : 'N/A' }}</p>
</div>
