<div class="container">
    <p class="welcomeText">Welcome!</p>
    <p class="getStartedText">To get you started, please enter your weekly budget</p>
    <form [formGroup]="budgetForm" (ngSubmit)="submitBudget()">
        <div class="input-container">
          <input
            type="number"
            formControlName="budget"
            placeholder="Enter your budget"
          />
          <button type="submit" [disabled]="!budgetForm.valid">Done</button>
        </div>
        
        @if (budgetForm.controls.budget.touched && budgetForm.controls.budget.dirty && budgetForm.controls.budget.invalid) {
            <p class="error-message">Please enter a valid budget</p>
        }
    </form>
  </div>