<div class="container">
  <div class="summary-container">   
    <div class="grid-container">
      <ag-grid-angular
        style="width: 100%; height: 340px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowSelection]="'single'"
      >
      </ag-grid-angular>
      
      <button 
        class="export-button" 
        (click)="exportToExcel()" 
        [disabled]="!rowData.length"
        aria-label="Export Expenses to Excel">
        Export to Excel
      </button>
    </div>

    <ag-charts
      style="width: 40%; height: 390px;"
      [options]="chartOptions">
    </ag-charts>
  </div>
</div>
