.day-container {
    padding: 20px;
    border-radius: 8px;
    color: #333;
    max-width: 800px;
    margin: auto;
}

.day-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.day-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

.expense-details {
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}

.expense-category {
    font-weight: bold;
}

.expense-amount {
    font-weight: normal;
}

.expense-actions {
    display: flex;
    gap: 10px;
}

.icon-button {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 5px;     
    transition: transform 0.2s, color 0.2s; 
    font-size: 1.8rem;
}

.icon-button:hover {
    transform: scale(1.1);
}

.icon-button .icon {
    font-size: 1.8rem;
}

.edit-button .icon {
    color: #ffa500;
}

.edit-button:hover .icon {
    color: #e69500;
}

.delete-button .icon {
    color: red;
}

.delete-button:hover .icon {
    color: darkred;
}

.icon-button:focus {
    outline: none;
}

.expense-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expense-form label {
    font-weight: bold;
}

.expense-form select,
.expense-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
    font-size: 1rem;
    background-color: #ffffff33;
    color: white;
}

.expense-form input::placeholder {
    color: white;
    opacity: 1;
}

.expense-form option {
    color: black;
    background-color: white;
}

.expense-form select:focus,
.expense-form input:focus {
    border: 2px solid #2575fc;
}

.buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.expense-form button {
    padding: 10px;
    background-color: #2575fc;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    width: 50%;
}

.buttons-container button[type="button"] {
    background-color: #808080;
    color: white;
}

.buttons-container button[type="button"]:hover {
    background-color: #666666;
}

.buttons-container button[type="submit"]:disabled {
    background-color: #888888;
    cursor: not-allowed;
}
